# Which are the "best" zip codes for investing in real estate?

In [38]:
import pickle
import pandas as pd
import numpy as np

In [39]:
with open('rankings.pickle', 'rb') as f:
    vol_zips_crisis = pickle.load(f)
    zip_growth1118 = pickle.load(f)
    zip_growth9618 = pickle.load(f)
    vol_zips = pickle.load(f)

### Adjusting Growth in Value for Zipcode Volatility: The Sharpe Ratio

In [40]:
zip_growth1118.rename(columns={'zipcodes':'zip'},inplace=True)

In [43]:
merged = pd.merge(vol_zips_crisis, zip_growth1118, how='left', on='zip')
merged['sharpe']=merged['growth']/merged['value']
merged.replace(to_replace=np.inf, value=np.nan, inplace=True)
merged.replace(to_replace=-np.inf, value=np.nan, inplace=True)
merged.sort_values(by='sharpe', ascending=False)

         zip       value    growth    sharpe
5695   33976   68.041382  0.957508  0.014072
5694   33974  132.680694  0.960467  0.007239
7643   47353   47.628967  0.285470  0.005994
10600  71263   37.143366  0.191276  0.005150
10343  67860   68.651023  0.267775  0.003901
...      ...         ...       ...       ...
14300  97467    0.000000  0.259059       NaN
14311  97499    0.000000  0.267187       NaN
14330  97624    0.000000  0.306698       NaN
14335  97733    0.000000  0.321245       NaN
14623  98851    0.000000  0.124573       NaN

[14723 rows x 4 columns]

## Let have a look at these zip codes

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [ ]:
zill = pd.read_csv('../data/processed/zillow_cleaned_no_nulls.csv', index_col=0, dtype={'zip': 'object'})

In [ ]:
zill.index = pd.to_datetime(zill.index)

In [ ]:
best_zips = ['10011', '10014', '10021', '90210', '94027', '94022', '33480', '10128', '11215', '11217']

In [ ]:
top_zips = zill.loc[(zill.zip.isin(best_zips))]

In [ ]:
kill_cols = ['regionid', 'city', 'state', 'metro', 'countyname', 'sizerank']
top_zips_val = top_zips.drop(columns = kill_cols)

In [ ]:
top_zips_val.head()

In [ ]:
sns.lineplot(x = top_zips_val.index.year, y = 'value', data = top_zips_val, hue = 'zip', legend = False);

In [ ]:
top_zips_val.plot(kind = 'line', figsize=(15, 6))
plt.show()

In [ ]:
top_zips_val.index = pd.to_datetime(top_zips_val.index)

In [ ]:
top_zips_val.index

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 11, 9

decomposition = sm.tsa.seasonal_decompose(top_zips_val.resample('m').mean(), model='additive')
fig = decomposition.plot()
plt.show()

In [ ]:
pd.plotting.autocorrelation_plot(top_zips_val);
plt.show()