# Which are the "best" zip codes for investing in real estate?

In [38]:
import pickle
import pandas as pd
import numpy as np

In [39]:
with open('rankings.pickle', 'rb') as f:
    vol_zips_crisis = pickle.load(f)
    zip_growth1118 = pickle.load(f)
    zip_growth9618 = pickle.load(f)
    vol_zips = pickle.load(f)

### Adjusting Growth in Value for Zipcode Volatility: The Sharpe Ratio

In [40]:
zip_growth1118.rename(columns={'zipcodes':'zip'},inplace=True)

In [55]:
merged

         zip         value     growth    sharpe
0      01001  13227.619901  16.544775  0.001251
1      01002  11701.967724  13.776389  0.001177
2      01005  25763.219593  26.969718  0.001047
3      01007  11614.950555  11.061620  0.000952
4      01008  11059.642286  10.296333  0.000931
...      ...           ...        ...       ...
14718  99709  10272.050469   0.973438  0.000095
14719  99712  13464.459046   1.270082  0.000094
14720  99801   3893.005361  20.684791  0.005313
14721  99835   5615.073134  23.736086  0.004227
14722  99901   3632.303626  19.145481  0.005271

[14723 rows x 4 columns]

In [54]:
merged = pd.merge(vol_zips_crisis, zip_growth1118, how='left', on='zip')
merged['growth'] = merged['growth']*100
merged['sharpe']=merged['growth']/merged['value']
merged.replace(to_replace=np.inf, value=np.nan, inplace=True)
merged.replace(to_replace=-np.inf, value=np.nan, inplace=True)
list(merged.sort_values(by='sharpe', ascending=False)[0:5].zip)

['33976', '33974', '47353', '71263', '67860']

## Let have a look at these zip codes

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [ ]:
zill = pd.read_csv('../data/processed/zillow_cleaned_no_nulls.csv', index_col=0, dtype={'zip': 'object'})

In [ ]:
zill.index = pd.to_datetime(zill.index)

In [ ]:
best_zips = ['10011', '10014', '10021', '90210', '94027', '94022', '33480', '10128', '11215', '11217']

In [ ]:
top_zips = zill.loc[(zill.zip.isin(best_zips))]

In [ ]:
kill_cols = ['regionid', 'city', 'state', 'metro', 'countyname', 'sizerank']
top_zips_val = top_zips.drop(columns = kill_cols)

In [ ]:
top_zips_val.head()

In [ ]:
sns.lineplot(x = top_zips_val.index.year, y = 'value', data = top_zips_val, hue = 'zip', legend = False);

In [ ]:
top_zips_val.plot(kind = 'line', figsize=(15, 6))
plt.show()

In [ ]:
top_zips_val.index = pd.to_datetime(top_zips_val.index)

In [ ]:
top_zips_val.index

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 11, 9

decomposition = sm.tsa.seasonal_decompose(top_zips_val.resample('m').mean(), model='additive')
fig = decomposition.plot()
plt.show()

In [ ]:
pd.plotting.autocorrelation_plot(top_zips_val);
plt.show()