# Edditing column names and setting index to datetime for Zillow data

In [1]:
import pandas as pd
import numpy as np

In [4]:
zill = pd.read_csv('../data/processed/zillow_tabular.csv', index_col=0)

/Users/algrhythm/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
zill.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,Date,Value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04,77300.0

In [8]:
zill.columns = map(str.lower, zill.columns)

In [11]:
zill = zill.rename(columns={'regionname': 'zip'})

In [13]:
zill.head()

,regionid,zip,city,state,metro,countyname,sizerank,date,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04,77300.0

In [15]:
zill.date = pd.to_datetime(zill.date)

In [17]:
zill = zill.set_index(zill.date)

In [18]:
zill

,regionid,zip,city,state,metro,countyname,sizerank,date,value
date,,,,,,,,,
1996-04-01,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1996-04-01,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04-01,235700.0
1996-04-01,91982,77494,Katy,TX,Houston,Harris,3,1996-04-01,210400.0
1996-04-01,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
1996-04-01,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04-01,77300.0
...,...,...,...,...,...,...,...,...,...
2018-04-01,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,2018-04-01,209300.0
2018-04-01,59107,3293,Woodstock,NH,Claremont,Grafton,14720,2018-04-01,225800.0
2018-04-01,75672,40404,Berea,KY,Richmond,Madison,14721,2018-04-01,133400.0
2018-04-01,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,2018-04-01,664400.0
2018-04-01,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,2018-04-01,357200.0

In [20]:
zill.to_csv('../data/processed/zillow_time_index.csv')