# Zillow data cleaning
In this notebook, the following steps are taken to clean the Zillow housing value data:
- Reformat data set from wide to long format
- Interpelate missing values
- Make dates datetime objects
- Set date as index
- Export data set

In [1]:
import pandas as pd
import numpy as np
import normal_former as nofo

In [2]:
# Import raw data in wide format and use the normal_former package (custom made) to covert to long format
wide_df = pd.read_csv('../data/raw/zillow_data.csv', dtype = {'RegionID': 'object', 
                            'RegionName': 'object', 
                            'City': 'object', 
                            'State': 'object', 
                            'Metro': 'object', 
                            'CountyName': 'object', 
                            'SizeRank': 'int64',
                            'Value': 'float64'})
df = wide_df

cols_n_index = nofo.indexCols(df)

cols2rows = list(range(7,272))

cols2rows = nofo.index_c2r(cols_n_index, cols2rows)

keep_cols_df = nofo.keep_df(df, cols2rows)
tab_df = nofo.make_shell(cols2rows, keep_cols_df)
nofo.add_cols2shell(keep_cols_df, tab_df)    

nofo.dates2rows(cols2rows, df, tab_df)
nofo.vals2rows(cols2rows, df, tab_df)
zill = tab_df

In [3]:
zill.dtypes

RegionID       object
RegionName     object
City           object
State          object
Metro          object
CountyName     object
SizeRank        int64
Date           object
Value         float64
dtype: object

In [4]:
zill.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,Date,Value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04,334200.0
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,1996-04,235700.0
2,91982,77494,Katy,TX,Houston,Harris,3,1996-04,210400.0
3,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04,498100.0
4,93144,79936,El Paso,TX,El Paso,El Paso,5,1996-04,77300.0

In [214]:
# Cleanup the long form data set starting with making the column names lower case
zill.columns = map(str.lower, zill.columns)

# Rename regionname as zip
zill = zill.rename(columns={'regionname': 'zip'})

# Make date a datetime object
zill.date = pd.to_datetime(zill.date)

# Set as the index
zill = zill.set_index(zill.date)

# Drop data column
zill = zill.drop(columns = 'date')

In [215]:
# There are some null values in the value column, 
# other null values are not important and will eventually be ignored
# Various imputation methods were deemed unsatisfactory, thus the zipcodes with missing values are dropped 

zill_sorted = zill.sort_values(by=['zip', 'date'])

In [216]:
#Identifying rows will null values for metro
zill_sorted.loc[zill_sorted['metro'].isnull()==True]

,regionid,zip,city,state,metro,countyname,sizerank,value
date,,,,,,,,
1996-04-01,58804,02554,Nantucket,MA,NaN,Nantucket,5781,324200.0
1996-05-01,58804,02554,Nantucket,MA,NaN,Nantucket,5781,329600.0
1996-06-01,58804,02554,Nantucket,MA,NaN,Nantucket,5781,335700.0
1996-07-01,58804,02554,Nantucket,MA,NaN,Nantucket,5781,342700.0
1996-08-01,58804,02554,Nantucket,MA,NaN,Nantucket,5781,350200.0
...,...,...,...,...,...,...,...,...
2017-12-01,100473,99835,Sitka,AK,NaN,Sitka,8659,396200.0
2018-01-01,100473,99835,Sitka,AK,NaN,Sitka,8659,397500.0
2018-02-01,100473,99835,Sitka,AK,NaN,Sitka,8659,398900.0
2018-03-01,100473,99835,Sitka,AK,NaN,Sitka,8659,402100.0
2018-04-01,100473,99835,Sitka,AK,NaN,Sitka,8659,404800.0

In [217]:
#Since city and metro appear to have a lot of overlap, in instances where there is no value for metro, city is imputed
zill_sorted['metro'].fillna(zill_sorted['city'], inplace=True)

In [218]:
bad_rows = zill_sorted.loc[(zill_sorted.value.isnull() == True)]
print('Bad rows percentage: {}%'.format(round(len(bad_rows)/len(zill_sorted)*100,2)))

Bad rows percentage: 4.02%

In [219]:
#Cross referencing null row percentage calculation:
print('Bad rows percentage: {}%'.format(round(zill_sorted.isnull().sum()[-1]/len(zill_sorted)*100,2)))

Bad rows percentage: 4.02%

In [220]:
n_zill_sorted = zill_sorted.dropna()

In [227]:
#Cross referencing again because I'm paranoid:
print('Percentage change: {}%'.format(round((len(zill_sorted) - len(n_zill_sorted))/len(zill_sorted)*100,2)))

Percentage change: 4.02%

In [228]:
n_zill_sorted.to_csv('../data/processed/zillow_cleaned_no_nulls.csv')